## Whitespace Formatting

In [5]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    for j in [1, 2, 3, 4, 5]:
        print(j)
        print(i + j)
print('done looping')

1
1
2
2
3
3
4
4
5
5
6
2
1
3
2
4
3
5
4
6
5
7
3
1
4
2
5
3
6
4
7
5
8
4
1
5
2
6
3
7
4
8
5
9
5
1
6
2
7
3
8
4
9
5
10
done looping

In [6]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

In [7]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

In [9]:
two_plus_three = 2 + \
                 3

In [10]:
for i in [1, 2, 3, 4, 5]:    
    print(i)

1
2
3
4
5

## Modules

In [11]:
import re
my_regex = re.compile('[0-9]+', re.I)

In [12]:
import re as regex
my_regex = regex.compile('[0-9]+', regex.I)

In [13]:
import matplotlib.pyplot as plt

In [14]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [15]:
match = 10
from re import *
print(match)

<function match at 0x000002196B9FB4C0>

## Functions

In [16]:
def double(x):
    return x * 2


def apply_to_one(f):
    return f(1)


my_double = double
x = apply_to_one(my_double)
x

2

In [17]:
y = apply_to_one(lambda x:x + 4)
y

5

In [18]:
def another_double(x):
    return 2 * x

In [19]:
def my_print(message = 'my default message'):
    print(message)


my_print('hello')
my_print()

hello
my default message

In [20]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + ' ' + last

In [21]:
full_name('Joel', 'Grus')

'Joel Grus'

In [22]:
full_name('Joel')

'Joel Something'

In [23]:
full_name(last='Grus')

"What's-his-name Grus"

## Strings

In [24]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [25]:
tab_string = '\t'
len(tab_string)

1

In [26]:
not_tab_string = r'\t'
len(not_tab_string)

2

In [27]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

In [28]:
first_name = 'Joel'
last_name = 'Grus'

In [29]:
full_name1 = first_name + ' ' + last_name
full_name2 = '{0} {1}'.format(first_name, last_name)

In [30]:
full_name3 = f'{first_name} {last_name}'

## Exceptions

In [31]:
try:
    print(0/0)
except ZeroDivisionError:
    print('Cannot divide by zero')

Cannot divide by zero

## Lists

In [32]:
integer_list = [1, 2, 3]
heterogeneous_list = ['string', 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

In [33]:
print(integer_list)
print(heterogeneous_list)
print(list_of_lists)

[1, 2, 3]
['string', 0.1, True]
[[1, 2, 3], ['string', 0.1, True], []]

In [34]:
list_length = len(integer_list)
list_sum = sum(integer_list)

In [35]:
list_length, list_sum

(3, 6)

In [36]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]
x[0] = -1

In [38]:
zero, one, nine, eight, x[0]

(0, 1, 9, 8, -1)

In [39]:
first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
without_first_and_last = x[1:-1]
copy_of_x = x[:]

In [40]:
first_three, three_to_end, one_to_four, last_three, without_first_and_last, copy_of_x

([-1, 1, 2],
 [3, 4, 5, 6, 7, 8, 9],
 [1, 2, 3, 4],
 [7, 8, 9],
 [1, 2, 3, 4, 5, 6, 7, 8],
 [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [41]:
every_third = x[::3]
five_to_three = x[5:2:-1]

In [42]:
every_third, five_to_three

([-1, 3, 6, 9], [5, 4, 3])

In [43]:
1 in [1, 2, 3]

True

In [44]:
0 in [1, 2, 3]

False

In [45]:
x = [1, 2, 3]
print(x)
x.extend([4, 5, 6]) # x is now [1, 2, 3, 4, 5, 6]
print(x)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [46]:
x = [1, 2, 3]
y = x + [4, 5, 6] # y is [1, 2, 3, 4, 5, 6]; x is unchanged
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [47]:
x = [1, 2, 3]
x.append(0) # x is now [1, 2, 3, 0]
y = x[-1] # equals 0
z = len(x) # equals 4

In [48]:
print(x)
print(y)
print(z)

[1, 2, 3, 0]
0
4

In [49]:
x, y = [1, 2] # now x is 1, y is 2
print(x)
print(y)

1
2

In [50]:
_, y = 1, 2 # now y == 2, didn't care about the first element
print(_) # desconsidered
print(y)

1
2

## Tuples

In [51]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3 # my_list is now [1, 3]

try:
    my_tuple[1] = 3
except TypeError:
    print('Cannot modify a tuple')

Cannot modify a tuple

In [52]:
def sum_and_product(x, y):
    return (x + y), (x * y)

In [53]:
sp = sum_and_product(2, 3) # sp is (5, 6)
print(sp)
s, p = sum_and_product(5, 10) # s is 15, p is 50
print(s, p)

(5, 6)
15 50

In [54]:
x, y = 1, 2 # now x is 1, y is 2
print(x, y)
x, y = y, x # swap: now x is 2 y is 1
print(x, y)

1 2
2 1

## Dictionaries

In [55]:
empty_dict = {} # Pythonic
empty_dict2 = dict() # less Pythonic
grades = {'Joel': 80, 'Tim': 95} # dictionary literal

In [56]:
joels_grade = grades['Joel'] # equals 80

In [57]:
joels_grade

80

In [58]:
try:
    kates_grade = grades['Kate'] # grades only of Joel and Tim
except KeyError:
    print('No grade for Kate!')

No grade for Kate!

In [59]:
joel_has_grade = 'Joel' in grades # True
kate_has_grade = 'Kate' in grades # False
print(joel_has_grade)
print(kate_has_grade)

True
False

In [60]:
joels_grade = grades.get('Joel', 0) # if Joel doesn't exist, standard value = 0; but exist, value = 80
kates_grade = grades.get('Kate', 0) # Kate doesn't exist, value = 0
no_ones_grade = grades.get('No One') # default is None

In [61]:
grades['Tim'] = 99 # replaces the old value; 95 -> 99
grades['Kate'] = 100 # add a third entry 'Kate': 100
num_students = len(grades) # equals 3

In [62]:
tweet = {
    'user': 'joelgrus',
    'text': 'Data Science is Awesome',
    'retweet_count': 100,
    'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']
}

In [63]:
tweet_keys = tweet.keys() # iterable for the keys
tweet_values = tweet.values() # iterable for the values
tweet_items = tweet.items() # iterable for the (key, value) tuples

In [64]:
'user' in tweet_keys # True, but now Pythonic

True

In [65]:
'user' in tweet # Pythonic way of checking for keys

True

In [66]:
'joelgrus' in tweet_values # True (slow but the only way to check)

True

## defaultdict

In [67]:
document = ['hello', 'world']

In [68]:
word_counts = {}
for word in document: # for each word in document
    if word in word_counts: # if the word exists in word_counts
        word_counts[word] += 1
    else:
        word_counts[word] = 1

In [69]:
word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1

In [70]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0) # count init with standard value = 0
    word_counts[word] = previous_count + 1

In [71]:
from collections import defaultdict

In [72]:
word_counts = defaultdict(int) # int() produces 0
for word in document:
    word_counts[word] += 1

In [75]:
dd_list = defaultdict(list) # list() produces an empty list
dd_list[2].append(1) # now dd_list contains {2:[1]}
dd_list

defaultdict(list, {2: [1]})

In [76]:
dd_dict = defaultdict(dict) # dict() produces an empty dict
dd_dict['Joel']['City'] = 'Seattle' # {'Joel': {'City: 'Seattle'}}
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [79]:
dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1 # now dd_pair contains {2: [0, 1]}
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

## Counter

In [81]:
from collections import Counter

In [85]:
c = Counter([0, 1, 2, 0]) # c is (basically) {0: 2, 1: 1, 2: 1}
c

Counter({0: 2, 1: 1, 2: 1})

In [87]:
# recall, document is a list of words
word_counts = Counter(document)

In [88]:
# print the 10 most common words and their counts
for word, count in word_counts.most_common(10):
    print(word, count)

hello 1
world 1

## Sets

In [89]:
primes_below_10 = {2, 3, 5, 7}

In [99]:
s = set()
s.add(1) # s is now {1}
print(s)
s.add(2) # s is now {1, 2}
print(s)
s.add(2) # s is still {1, 2}, set doesn't repeat values
print(s)
x = len(s) # equals 2
print(x)
y = 2 in s # equals True
print(y)
z = 3 in s # equals False
print(z)

{1}
{1, 2}
{1, 2}
2
True
False

In [101]:
stopwords_list = ['a', 'an', 'at'] + ['hundred_of_other_words'] + ['yet', 'you']

In [102]:
'zip' in stopwords_list # False, but have to check every element

False

In [103]:
stopwords_set = set(stopwords_list)
'zip' in stopwords_set # False, but very fast to check

False

In [105]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list) # 6
item_set = set(item_list) # {1, 2, 3}
num_distinct_items = len(item_set) # 3
distinct_item_list = list(item_set) # [1, 2, 3]

## Control Flow

In [107]:
if 1 > 2: # False, 1 is less than 2
    message = 'if only 1 were greater than two...' 
elif 1 > 3: # False, 1 is less than three
    message = 'elif stands for "else if"' 
else: # True, because 1 is not less than 2 and 3 (previous options)
    message = 'when all else(if and elif) fails use else (if you want to)'
print(message)

when all else(if and elif) fails use else (if you want to)

In [109]:
parity = 'even' if x % 2 == 0 else 'odd'
parity

'even'

In [110]:
x = 0
while x < 10:
    print(f'{x} is less than 10')
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [111]:
# range(10) is the numbers 0, 1, ..., 9
for x in range(10):
    print(f'{x} is less than 10')

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [112]:
for x in range(10):
    if x == 3:
        continue # ignore this iteration, and go immediately to the next
    if x == 5:
        break # quit the loop entirely
    print(x)

0
1
2
4

## Truthiness

In [114]:
one_is_less_than_two = 1 < 2
one_is_less_than_two

True

In [115]:
true_equals_false = True == False
true_equals_false

False

In [119]:
x = None
assert x == None, 'this is the not the Pythonic way to check for None'
assert x is None, 'this is the Pythonic way to check for None'

In [121]:
s = some_function_that_returns_a_string()
if s:
    first_char = s[0]
else:
    first_char = ''

NameError: name 'some_function_that_returns_a_string' is not defined

In [122]:
first_char = s and s[0]

TypeError: 'set' object is not subscriptable

In [125]:
safe_x = x or 0
safe_x

0

In [126]:
safe_x = x if x is not None else 0
safe_x

0

In [127]:
all([True, 1, {3}]) # True, all tre truthy

True

In [128]:
all([True, 1, {}]) # False, {} is falsy

False

In [129]:
any([True, 1, {}]) # True, True or 1 is truthy

True

In [130]:
all([]) # True, no falsy elements in the list

True

In [131]:
any([]) # False, no truthy elements in the list

False

## Shorting

In [134]:
x = [4, 1, 2, 3]
y = sorted(x) # y is [1, 2, 3, 4]; x is unchanged
x.sort() # now x is [1, 2, 3, 4]
x

[1, 2, 3, 4]

In [135]:
# sort the list by absolute value(key=abs) from largest to smallest(reverse=True)
x = sorted([-4, 1, -2, 3], key=abs, reverse=True) # is [-4, 3, -2, 1]
x

[-4, 3, -2, 1]

In [138]:
# sort the words and counts from highest count to lowest
wc = sorted(word_counts.items(),
           key=lambda word_and_count: word_and_count[1],
           reverse=True)
wc

[('hello', 1), ('world', 1)]

## List Comprehensions

In [143]:
even_numbers = [x for x in range(5) if x % 2 == 0] # [0, 2, 4]
print(even_numbers)
squares = [x * x for x in range(5)] # [0, 1, 4, 9, 16]
print(squares)
even_squares = [x * x for x in even_numbers] # [0, 4, 16]
print(even_squares)

[0, 2, 4]
[0, 1, 4, 9, 16]
[0, 4, 16]

In [145]:
square_dict = {x: x * x for x in range(5)} # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
print(square_dict)
square_set = {x * x for x in [1, -1]} # {1}
print(square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1}

In [147]:
zeros = [0 for _ in even_numbers] # has the same length as even_numbers
print(zeros, len(zeros))
print(even_numbers, len(even_numbers))

[0, 0, 0] 3
[0, 2, 4] 3

In [148]:
pairs = [(x, y)
        for x in range(10)
        for y in range(10)] # 100 pairs (0, 0) (0, 1) ... (9, 8) (9, 9)

In [150]:
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [152]:
increasing_pairs = [(x, y) # only pairs with x < y
                   for x in range(10) # range(lo, hi) equals
                   for y in range(x + 1, 10)] # [lo, lo + 1, ..., hi - 1]

In [153]:
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

## Automated Testing and assert

In [155]:
assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 sould equal 2 but didn't"

In [159]:
def smallest_item(xs):
    return min(xs)

assert smallest_item([10, 20, 5, 40]) == 5
assert smallest_item([1, 0, -1, 2]) == -1
print(smallest_item([10, 20, 5, 40]))
print(smallest_item([1, 0, -1, 2]))

5
-1

In [160]:
def smallest_item(xs):
    assert xs, 'empty list has no smallest item'
    return min(xs)
smallest_item([])

AssertionError: empty list has no smallest item

## Object-Oriented Programming

In [170]:
class CountingClicker:
    """A class can/should have a docstring, just like a function"""
    def __init__(self, count = 0):
        self.count = count
        
    def __repr__(self):
        return f'CountingClicker(count={self.count})'
    
    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times
    
    def read(self):
        return self.count
    
    def reset(self):
        self.count = 0

In [171]:
clicker1 = CountingClicker() # initialized to 0
clicker2 = CountingClicker(100) # starts with count=100
clicker3 = CountingClicker(count=100) # more explicit way of doing the same

In [189]:
clicker = CountingClicker()
assert clicker.read() == 0, 'clicker should start with count 0'
clicker.click()
clicker.click()
assert clicker.read() == 2, 'after two clicks, clicker should have count 2'
clicker.reset()
assert clicker.read() == 0, 'after reset, clicker should be back to 0'

In [190]:
print(clicker.read())

0

In [197]:
clicker.click()
clicker.click()
clicker.click()
clicker.click()

In [192]:
print(clicker.read())

4

In [199]:
clicker.reset()

In [200]:
print(clicker.read())

0

In [203]:
# A subclass inherits all the behavior of its parent class.
class NoResetClicker(CountingClicker):
    # This class has all the same methods as CountingClicker
    
    # Except that it has a reset method that does nothing.
    def reset(self):
        pass

In [204]:
clicker2 = NoResetClicker()
assert clicker2.read() == 0
clicker2.click()
assert clicker2.read() == 1
clicker2.reset()
assert clicker2.read() == 1, "reset shouldn't do anything"

## Iterables and Generators

In [209]:
def generate_range(n):
    i = 0
    while i < n:
        yield i # every call to yield produces a value of the generator
        i += 1

In [210]:
for i in generate_range(10):
    print(f'i: {i}')

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [211]:
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1

In [214]:
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)
# Such a “generator comprehension” doesn’t do any work until you iterate over it

In [218]:
# None of these computations *does* anything until we iterate
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
even_squares = (x ** 2 for x in evens)
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)
# and so on

In [219]:
names = ['Alice', 'Bob', 'Charlie', 'Debbie']

In [220]:
# not Pythonic
for i in range(len(names)):
    print(f'name {i} is {names[i]}')

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

In [221]:
# also not Pythonic
i = 0
for name in names:
    print(f'name {i} is {name[i]}')
    i += 1

name 0 is A
name 1 is o
name 2 is a
name 3 is b

In [223]:
# Pythonic
for i, name in enumerate(names):
    print(f'name {i} is {name}')

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie